*{
    margin: 0;
    padding: 0;
}
/*
What we provide section starts from here......
What we provide section starts from here......
*/

.provide-box-holder{
    width: 80%;
    box-sizing: border-box;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    text-align: center;
}

.provide-box{
    border: var(--border-three-color);
    border-radius: 10px;
    padding: 20px 20px 50px;
    box-sizing: border-box;
}

.provide-box img{
    margin: 28px 0;
    width: 80px;
}

.provide-box h3{
    color: var(--second-black);
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.provide-box p{
    font-size: 17px;
    margin-bottom: 30px;
    color: var(--light-gray);
    font-weight: 400;
    line-height: 24px;
}

.provide-box a{
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-green-one);
}

.provide-box a:hover{
    color: var(--yellow);
}
/*
Our performance container div starts from here......
Our performance container div starts from here......
*/
.our-performance-container{
    width: 80%;
    box-sizing: border-box;
    margin: 70px auto 0;
}

.performance-first-part-container{
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
}
.performance-first-img{
    max-width: 100%;
}

.performance-first-des-box{
    width: 90%;
}

.performance-first-des-box h3{
    color: var(--lightest-gray);
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
}

.performance-first-des-box h1{
    color: var(--second-black);
    font-size: 42px;
    font-family: "Quicksand", sans-serif;
    margin: 15px 0;
    font-weight: bold;
}

.performance-first-des-box p{
   color: var(--light-gray);
   margin: 30px 0;
   font-size: 1rem;
   font-weight: 400;
   line-height: 24px;
}

.performance-sec-part-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;
}

.performance-sec-box h3{
   font-size: 32px;
   font-family: "Quicksand", sans-serif;
   color: var(--second-black);
   font-weight: 700;
   line-height: 1.2;
   margin-bottom: 25px;
}

.performance-sec-box p{
    font-size: 1rem; 
    color: var(--light-gray);
    font-weight: 400;
    line-height: 24px;
}
/*
Scroll counter starts from here......
Scroll counter starts from here......
*/
.counter-container{
    margin: 80px 10px 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    max-width: 100%;
    min-height: 300px;
    text-align: center;
    background-image: url(../img/about-9.png);
    background-size: cover;
    color: white;
    position: relative;
    border-radius: 10px;
}

.counter-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4B675A;
    opacity: 0.8;
    border-radius: 10px;
}

.counter{
    z-index: 200;
}

.counter .count{
    font-size: 5vw;
    font-weight: bold;
}

.counter h3{
    font-family: "Quicksand", sans-serif;
}


/*
Our team section starts from here.....
Our team section starts from here.....
*/

.our-team-container{
    max-width: 85%;
    margin: 50px auto;
    padding-bottom: 50px;
}

.our-team-headline{
    width: fit-content;
    margin: 0  auto;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
}

.team-headline-underline{
    width: 100%;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.our-team-main{
    margin: 35px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
}

.our-team-desc .our-team-tag{
   color: var(--text-green-one);
   font-family: "Quicksand", sans-serif;
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 5px;
}

.our-team-desc h1{
    color: var(--second-black);
    font-size: 48px;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 30px;
}

.our-team-detail{
    color: var(--light-gray);
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.our-team-desc button{
    background-color: var(--green-background);
    border: none;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.our-team-desc button:hover{
    background-color: var(--green-background-hover);
}

.member-box{
    position: relative;
}

.member-box img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.teamMember-info-box{
    position: absolute;
    background-color: white;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -90px);
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 10px;
    padding: 30px 0;
    transition: 0.2s ease;
}

.member-box:hover .teamMember-info-box{
    transform: translate(-50%, -95px);
}

.teamMember-info-box h2{
    color: var(--second-black);
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}

.teamMember-info-box h3{
    color: var(--light-gray);
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.teamMember-social-acc{
    margin-top: 20px;
}

.teamMember-social-acc > *{
    margin: 0 7px;
    cursor: pointer;
    color: var(--text-green-one);
}



@media only screen and (max-width: 1110px){
    .our-team-desc{
        grid-column: 1 / -1;
    } 
}

@media only screen and (max-width: 992px){
    .provide-box-holder{
        width: 85%;
        grid-template-columns: repeat(2, 1fr);
    }
    .performance-first-part-container{
        grid-template-columns: 100%;
        gap: 40px;
    }
    .performance-first-des-box{
        width: 100%;
    }
    .performance-first-des-box h3{
        font-size: 18px;
    }
    
    .performance-first-des-box h1{
        font-size: 28px;
        margin: 10px 0;
    }
    
    .performance-first-des-box p{
       margin: 20px 0;
       line-height: 18px;
    }
}

@media only screen and (max-width: 730px){
    .provide-box-holder{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .performance-sec-part-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 30px;
    }
    
    .performance-sec-box h3{
       font-size: 24px;
       margin-bottom: 15px;
    }
    .member-box:nth-child(2){
        margin-bottom: 100px;
    }

    .counter-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .counter{
        margin: 10px 0;
    }
}


@media only screen and (max-width: 576px){
    .performance-first-des-box h1{
        font-size: 20px;
    }

    .our-team-headline h1{
        font-size: 25px;
    }
    .provide-box{
        padding: 10px 10px 20px;
    }
    
    .provide-box img{
        margin: 15px 0;
        width: 50px;
    }
    
    .provide-box h3{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .provide-box p{
        margin-bottom: 20px;
    }

    .our-team-desc h1{
        font-size: 24px;
    }

    .counter-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .counter .count{
        font-size: 12vw;
    }
}


