/*
    Big single banner goes here.........
*/

.big-single-banner{
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    width: calc(100% - 25px);
    margin: 20px auto;
    min-height: 230px;
    border-radius: 30px;
    position: relative;
    padding: 40px 60px;
    overflow: hidden;
}

.big-man-img{
    position: absolute;
    right: 50px;
    bottom: 0;
    max-width: 40%;
}

.big-section-container{
    width: 50%;
    margin-bottom: 30px;
    z-index: 10;
    position: relative;
}

.big-section-container h1{
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    color: var(--second-black);
    margin-block-end: 0;
}

.big-section-container p{
    font-size: 18px;
    color: var(--light-gray);
    margin-block-end: 2.5em;
}

.big-section-container p a{
    color: var(--text-green-one);
    text-decoration: none;
}

.big-sub-box{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: fit-content;
    border-radius: 50px;
    padding-left: 20px;
    align-items: center;
}

.big-sub-box i{
    margin: 0 5px;
    color: var(--light-gray);
}

.big-sub-box input{
    font-size: 16px;
    border: none;
}
.big-sub-box input:focus{
    outline: none;
}

.big-sub-box button{
    background-color: var(--green-background);
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: bold;
}

.big-sub-box button:hover{
    background-color: var(--green-background-hover);
}




@media only screen and (max-width: 992px){
    .big-section-container{
        width: 70%;
    }
}


@media only screen and (max-width: 768px){
    .big-section-container{
        width: 80%;
    }
    
}


@media only screen and (max-width: 660px){
    .big-section-container{
        width: 90%;
    }

    .big-section-container h1{
        font-size: 30px;
    }
    
    .big-sub-box input{
        font-size: 14px;
        border: none;
    }
    
    .big-sub-box button{
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 500px){
    .big-single-banner{
        width: 100%;
        margin: 10px;
        padding: 35px 20px;
    }

    .big-section-container{
        width: 95%;
    }

    .big-sub-box{
        padding-left: 0;
    }

    .big-sub-box input{
        width: 150px;
    }

    .big-sub-box button{
        padding: 5px 15px;
    }
       
}

@media only screen and (max-width: 350px){
    .big-sub-box input{
        width: 100px;
    }

    .big-sub-box button{
        padding: 5px;
    }
    
}

