*{
   margin: 0;
   padding: 0;
}

.notification{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(102, 209, 102);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 100;
    display: none;
}

.snack-banner-container{
    max-width: 100%;
    height: 250px;
    box-sizing: border-box; 
    margin: 30px 10px;
    border-radius: 25px;
    background-image: url('../img/header-bg.png');
    background-position: center;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snack-headline{
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
    color: var(--second-black);
    font-size: 48px;
}

.snack-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.snack-nav a{
    text-decoration: none;
    color: var(--text-green-one);
    display: flex;
    gap: 5px;
    transition: 0.2s ease-in;
}

.snack-nav a:hover{
    color: var(--yellow);
}

.snack-nav .fa-angle-right{
    font-size: 12px;
    color: var(--light-gray);
}

.snack-nav p{
    color: var(--light-gray);
    font-weight: bold;
}

.snack-banner-options{
    display: flex;
    gap: 20px;
}

.snack-option{
    background-color: white;
    padding: 10px 20px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    text-decoration: none;
    color: var(--text-green-one);
    font-size: 17px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.snack-option .fa-xmark{
    color: var(--light-gray);
}

.snack-option:hover{
    transform: translateY(-5px);
    color: var(--yellow);
}


/*
   snack categories list goes here........
*/

.snack-product-container{
    display: flex;
    gap: 0 30px;
    margin: 40px 10px;
}

.snack-product-holder{
    width: calc(100% - 18%);
}

.snack-product-header{
    display: flex;
    justify-content: space-between;
}

#snack-found-item{
    color: var(--light-gray);
    font-size: 16px;
    font-family: "Lato", sans-serif;
    margin-left: 10px;
}

#snack-found-item span{
    color: var(--text-green-one);
    font-weight: bold;
}

.snack-show-options{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;   
}

.snack-show{
    color: var(--light-gray);
    border: var(--border-one-color);
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.snack-multiple-options{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 10px 0;
    border: var(--border-one-color);
    display: none;
    z-index: 20;
    background-color: white;
}

.snack-show:hover .snack-multiple-options{
    display: block;
}

.snack-item{
    box-sizing: border-box;
    width: 100%;  
    padding: 10px 15px;
}

.snack-item:hover{
    background-color: var( --green-background); 
    color: white; 
}

.snack-item .fa-solid{
    width: 20px;
}



/*
 snack product div starts from here...........
*/

.snack-product-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.popular-product-div,
.best-product-div{
    padding: 20px;
    max-width: 230px;
    border-radius: 15px;
    border: var(--border-three-color);
    background-color: #fff;
    position: relative;
    transition: 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.popular-product-div:hover,
.best-product-div:hover{
    border-color: var(--light-green);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.upper-top{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    border-radius: 15px 0 20px 0;
    display: inline-block;
    font-size: 12px;
    padding: 9px 20px 10px 20px;
    z-index: 10;
}

.upper-top.hot{
    background-color: #f74b81;
}
.upper-top.sale{
    background-color: #67bcee;
}
.upper-top.new{
    background-color: var(--green-background);
}
.upper-top.orange{
    background-color: #f59758;
}

.popular-img-box{
    width: 100%;
}

.popular-img-box img{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    object-fit: cover;
}

.popular-front-img{
    display: block;
}
.popular-back-img{
    display: none;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.popular-product-div:hover .popular-front-img{
    display: none;
}

.popular-product-div:hover .popular-back-img{
    display: block;
    transform: scale(1.05);
}

.popular-hidden-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: block;
    opacity: 0;
}

.popular-product-div:hover .popular-hidden-box{
    opacity: 1;
}

.popular-hidden-element{
    background-color: #fff;
    border: 1px solid var(--light-green);
    padding: 7px;
    color: var(--text-green-one);
    position: relative;
    cursor: pointer;
}

.popular-hidden-element:hover{
    color: var(--yellow);
}

.popular-hidden-element:nth-child(1){
    border-radius: 5px 0 0 5px;
}

.popular-hidden-element:nth-last-child(1){
    border-radius: 0 5px 5px 0; 
}
.popular-tooltip{
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: var(--green-background);
    color: white;
    white-space: nowrap;
    display: none;
    z-index: 1;
}

.popular-tooltip-triangle{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--green-background);
    display: none;
}

.popular-hidden-element:hover > .popular-tooltip,
.popular-hidden-element:hover > .popular-tooltip-triangle{
    display: block;
}

.popular-inner-category{
    text-decoration: none;
    font-size: 12px;
    color: var(--lighter-gray);
}

.popular-inner-category:hover{
    color: var(--text-green-one);
}

.popular-product-title{
    display: inline-block;
    text-decoration: none;
    margin: 10px 0 0px !important;
    color: var(--second-black);
    font-size: 19px;
    font-weight: bold;
    transition: 0.3s ease;
}

.popular-product-title:hover{
    color: var(--text-green-one);
}

.popular-rating-box{
    font-size: 13px;
    margin: 8px 0; 
}

.popular-rating-box .fa-star,
.popular-rating-box .fa-star-half-stroke{
    color: var(--yellow);
}

.popular-rating{
    color: var(--lightest-gray);
}

.popular-com-name{
    color: var(--lightest-gray);
}

.popular-com-name a{
    text-decoration: none;
    margin-left: 3px;
    color: var(--text-green-one);
    transition: 0.2s ease;
}

.popular-com-name a:hover{
    color: var(--yellow);
}

.popular-price-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.popular-main-price{
    color: var(--text-green-one);
    font-size: 20px;
    font-weight: bold;
}

.popular-prev-price{
    text-decoration: line-through;
    font-weight: bold;
    color: var(--lighter-gray);
    font-size: 16px;
    margin-left: 4px;
}

.popular-add-btn{
    background-color: var(--green-light-background);
    text-decoration: none;
    color: var(--text-green-one);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transform: translateY(0);
    transition: all 0.3s ease;
    font-size: 14px;
}

.popular-add-btn:hover{
    color: white;
    background-color: var(--green-background);
    transform: translateY(-4px);
}



/*
snack aside code goes here...
*/

/*
Category section starts from here.........
*/

.snack-aside{
    width: 18%;
    min-width: 300px;
}
.snack-categories{
    border: var(--border-three-color);
    border-radius: 20px;
    padding: 20px 25px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.snack-categories h2{
    color: var(--second-black);
    padding: 15px 0;
    border-bottom: var(--border-one-color);
    position: relative;
    font-family: "Quicksand", sans-serif;
}

.snack-categories h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 2px;
    background-color: var(--light-green);
}

.snack-category-box{
    margin-top: 30px;
}

.snack-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-four-color);
    line-height: 48px;
    border-radius: 5px;
    padding: 0px 18px;
    margin: 0 0 15px 0;
    text-decoration: none;
    color: var(--second-black);
}

.snack-category:hover{
    background-color: white;
    border: 1px solid var(--light-green);
    color: var(--text-green-one);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.snack-category:hover p{
    color: var(--text-green-one);
}

.snack-category span{
    background-color: var(--light-green);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.snack-intryo{
   display: flex;
   align-items: center;
   gap: 0 15px;
}

.snack-cat-icon{
    max-width: 30px;
}

/*
 Fill by price goes here..........
*/

.snack-price-main-container{
    background-image: url('../img/fillter-widget-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px;
}

.snack-price-slide-container{
    padding-top: 30px;
}

.snack-price-slider{
    height: 4px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
}

.snack-price-slider .snack-price-progress{
    height: 4px;
    position: absolute;
    left: 25%;
    right: 25%;
    border-radius: 5px;
    background: var(--green-background);
}

.snack-range-input{
    position: relative;
}

.snack-price-input{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.snack-field{
    display: flex;
    align-items: center;
}

.snack-feild-doller{
    color: var(--text-green-one);
    font-weight: bold;
    margin-right: 1px;
    margin-left: 3px;
}

.snack-field-point{
    color: var(--lighter-gray);
}

.snack-field input{
    width: 60px;
    border: none;
    color: var(--text-green-one);
    font-weight: bold;
    background-color: transparent;
}

.snack-range-input input{
    position: absolute;
    top: -5px;
    height: 4px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: var(--green-background);
}

input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--green-background);
}

/*
   Snack category color and item condition is here........
*/

.snack-category-container{
    margin-top: 20px;
}

.snack-category-container.item-condition{
    margin-top: 30px;
}

.snack-category-headline{
    font-weight: bold;
    color: var(--light-gray);
    margin-bottom: 10px;
}

.snack-category-checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.snack-category-checkbox label{
    color: var(--checked-color);
}

.snack-category-checked{
    appearance: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: 2px solid var(--arrow-down-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snack-category-checked:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 10px;
    color: white;
    display: none;
}

.snack-category-checked:checked{
    background-color: var(--green-background);
    border-color: var(--green-background);
}

.snack-category-checked:checked::after{
    display: block;
}

.snack-price-filter-btn{
    background-color: var(--green-background);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.snack-price-filter-btn:hover{
    background-color: var(--yellow);
    width: 110px;
}


/*
      Deal page new product goes here..........
*/

.new-products-box{
    margin-top: 10px;
}

.new-deal-product{
    padding: 10px 0;
    display: flex;
    gap: 20px;
}

.new-deal-product:nth-child(2){
    border: 1px dotted var(--arrow-down-color);
    border-left: none;
    border-right: none;
}

.new-product-img{
    max-width: 80px;
    max-height: 80px;
}

.new-product-desc a{
    color: var(--text-green-one);
    text-decoration: none;
    font-size: 15px;
    font-family: quicksand, sans-serif;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.new-product-desc a:hover{
    color: var(--yellow);
}

.new-product-desc p{
    color: var(--light-gray);
}

.snack-product-ranking .fa-solid{
    font-size: 12px;
    color: var(--yellow);
}

.save-oganic-juice{
    background-image: url(../img/banner-11.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 50px;
    border-radius: 30px;
}

.save-oganic-juice p{
    color: var(--lighter-gray);
    margin-bottom: 5px;
}

.save-oganic-juice h2{
    font-family: quicksand, sans-serif;
    color: var(--second-black); 
}

.save-oganic-juice span{
    color: var(--text-green-one);
}

/*
   Pagination of the deal page is here......
*/

.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--light-gray);
    font-weight: bold;
}

.pagination button:hover,
.pagination button.active{
    color: white;
    background-color: var(--green-background);
}

/*
 Deals of the day goes here........
*/

.deals-ofDay-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.deals-ofDay-header h1{
    font-family: quicksand, sans-serif;
    font-size: 32px;
    color: var(--second-black);
}

.deals-ofDay-header a{
    color: var(--light-gray);
    text-decoration: none;
}

.deals-ofDay-header a:hover{
    color: var(--text-green-one);
}



.deals-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 30px;
    gap: 15px;
}

.deals-box{
    transform: translateY(00px);
    transition: transform 0.5s ease;
}

.deals-box.show{
    transform: translateY(0);
}

.deals-box:hover .deal-description-box{
   transform: translate(-50%, -50px);
}

.deals-bg-box{
   width: 100%;
}

.deals-bg-box img{
    width: 100%;
    border-radius: 15px;
}

.deals-description-container{
    position: relative;
    height: 100px;
    width: 100%;
}

.deal-description-box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.3s ease;
    width: 90%;
}

.deals-time-box{
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

.time-box{
    background-color: white;
    width: 60px;
    min-height: 60px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.timeValue{
    font-size: 23px;
    margin-top: 5px;
    color: var(--text-green-one);
}

.dayName{
    color: var(--light-gray);
    margin-bottom: 5px;
}

.deal-full-description{
    background-color: white;
    width: 95%;
    margin: 0 auto;
    padding: 15px 25px;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}



@media only screen and (max-width: 1200px){
    .snack-product-holder{
        width: 100%;
    }
    
    .snack-aside{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    .snack-banner-options{
        display: none;
    }
}

@media only screen and (max-width: 550px){
    .snack-product-header{
        flex-direction: column;
        gap: 10px 0;
    }

    .snack-show-options{
        flex-direction: column;
    }

    .snack-show{
        max-width: 180px;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 350px){
    .snack-banner-container{
        height: 160px;
        margin: 25px 10px;
        padding: 0 50px;
    }
    .snack-headline{
        font-size: 30px;
    }

    .deals-ofDay-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}


